:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding: 0;
  height: 100%;

  color: #F7F7F7;
  background-color: #2B2B2B;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  &::-webkit-scrollbar {
    display: none;
  }

  user-select: none;
}

#root {
  height: 100%;
}

.root-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-wrapper {
  height: calc(100vh - 30px);
}

body {
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 0;
  gap: 0.5rem;
  height: 100%;
  overflow: hidden;
}

.loader-container {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  color: rgb(124, 124, 124);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;

  p {
    margin: 0;
    padding: 0;
  }
}

.words {
  overflow: hidden;
  position: relative;
}

.words::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(var(--bg-color) 10%,
      transparent 30%,
      transparent 70%,
      var(--bg-color) 90%);
  z-index: 20;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #F59300;
  animation: spin_4991 3s infinite;
}

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}


/* App styles */
.left-container {
  height: auto;
}

.right-container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0.5rem 0 0;
  gap: 1rem;
  height: calc(100vh - 36px);
  overflow: auto;
}


.right-container::-webkit-scrollbar {
  display: none;
}

.drop-area.drag-over {
  color: #ffffff !important;
  background-color: #f593008a !important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }
}